<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <script src="js/jquery/jquery.poptrox.min.js"></script>
</head>

<body>
    <%- include('header'); %>
    <section class="featured-properties-area section-padding-50-50">
        <div class="row">
            <section class="south-editor-area d-flex align-items-center">
                <!-- Editor Content -->
                <div class="editor-content-area" style="flex: auto;">
                    <!-- Section Heading -->
                    <div class="section-heading wow fadeInUp" data-wow-delay="250ms" style="    display: flow-root;
                    margin-bottom: 20px;">
                        <img src="images/profile.jpg" alt="" style="margin-right: 25px; float: left; width: 400px;">
                        <h2 >Shannon Yu</h2>
                        <h2 >Hsiang-Ru Yu</h2>
                        <h2 >余香儒</h2>
                        <br><br>
                        <p>Construct/ Deconstruct/ Construct <br>
                            Choreographer/ Dancer/ Photographer <br>
                            Sound score/ Psychological map <br>
                            Artist/ Creator/ Queering <br>
                            Everyday Happenings/ Constructed Improv <br>
                            </p>
                    </div>
                    <div class="section-heading wow fadeInUp" data-wow-delay="250ms">
                    </div>
                    <p class="wow fadeInUp" data-wow-delay="500ms">Shannon Yu 余香儒 is Taipei Born, New York based artist, uses movement, sound and photography as vehicles to realized her vision. Having a background of Civil Engineering, Shannon Yu tends to gain intimacy with the space, transforming and illuminating the elements of the space using her own point of view and wide range of movement vocabulary. Shannon is an observer of life, and often seek through ordinary sounds and scenes for inspiration. She showed her works in La Mama, Movement Research in Judson Memorial Church and New Step Series in Chen Dance Center in New York.</p>
                    <div class="address wow fadeInUp" data-wow-delay="750ms">
                        <!-- <h6><img src="img/icons/phone-call.png" alt=""> +45 677 8993000 223</h6>
                        <h6><img src="img/icons/envelope.png" alt=""> office@template.com</h6> -->
                        <h6>Photography Inquiry: <a href="mailto:hyux5@pratt.edu" target="_blank" ><i class="fas fa-envelope fa-2x" ></i></a></h6>
                        <h6>Performance Inquiry: <a href="mailto:shannonyu29283985@gmail.com" target="_blank" ><i class="fas fa-envelope fa-2x" ></i></a></h6>
                        <a href="https://www.instagram.com/hsiangru.yu" target="_blank" ><i class="fab fa-instagram fa-2x" ></i></a>
			            <a href="https://www.facebook.com/hsiangru.yu" target="_blank"><i class="fab fa-facebook fa-2x" ></i></a>
                    
                    </div>
                </div>
                <!-- <div class="editor-thumbnail" style="">
                    
                </div> -->

            </section>    
        </div>
    </section>



    <%- include('footer'); %>
    <%- include('script'); %>

</body>

</html>