<!-- DB Property -->

<article class="style2">
    <span class="image">
        <img src="<%= pic %>" alt="" style="
        margin-top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%) translateX(-25%);
        max-height: 170%;
        max-width: 180%;
        width: auto;
    "/>
    </span>
    <a href="/album/<%= tag %>/<%= name %>">
        <div class="content">
            <h4 style="color: white;"><%= name %></h4>
        </div>
    </a>
</article>