<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <script src="js/jquery/jquery.poptrox.min.js"></script>
</head>

<body>
    <%- include('header'); %>
    <section class="featured-properties-area section-padding-50-50">
        <div class="row">
            <section class="south-editor-area d-flex align-items-center">
                <!-- Editor Content -->
                <div class="editor-content-area" style="flex: auto;">
                    <!-- Section Heading -->
                    <div class="section-heading wow fadeInUp" data-wow-delay="250ms" style="    display: flow-root;
                    margin-bottom: 20px;">
                        <img src="images/profile.jpg" alt="" style="margin-right: 25px; float: left; width: 400px;">
                        <h2 >Shannon Yu</h2>
                        <h2 >Hsiang-Ru Yu</h2>
                        <h2 >余香儒</h2>
                        <br><br>
                        <p>Photography Inquiry: <a href="mailto:hyux5@pratt.edu" target="_blank" ><i class="fas fa-envelope fa-2x" ></i></a></p>
                        <p>Performance Inquiry: <a href="mailto:shannonyu29283985@gmail.com" target="_blank" ><i class="fas fa-envelope fa-2x" ></i></a></p>
                        <a href="https://www.instagram.com/hsiangru.yu" target="_blank" ><i class="fab fa-instagram fa-2x" ></i></a>
			            <a href="https://www.facebook.com/hsiangru.yu" target="_blank"><i class="fab fa-facebook fa-2x" ></i></a>
                    </div>
                    <div class="section-heading wow fadeInUp" data-wow-delay="250ms">
                    </div>
                    <div class="address wow fadeInUp" data-wow-delay="750ms">
                        <!-- <h6><img src="img/icons/phone-call.png" alt=""> +45 677 8993000 223</h6>
                        <h6><img src="img/icons/envelope.png" alt=""> office@template.com</h6> -->
                    </div>
                </div>
                <!-- <div class="editor-thumbnail" style="">
                    
                </div> -->

            </section>    
        </div>
    </section>



    <%- include('footer'); %>
    <%- include('script'); %>

</body>

</html>