<!-- DB Property -->

<article class="style2">
    <span class="image">
        <a href="/<%= src %>" ><img src="/<%= src %>" style="
            margin-top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%) translateX(-25%);
            max-height: 170%;
            max-width: 180%;
            width: auto;
        "/></a>
    </span>
</article>