<!-- DB Property -->
<div class="slide">
    <article class="style2">
        <span class="image">
            <a href="<%= href %>" data-poptrox="youtube,800x480"><img src="<%= src %>" alt="" title="<%= title %>" style="height: 300px;"/></a>
        </span>
    </article>
</div>
